.Header{
    text-align: center;
}
.logo{
    height: 60px;
}
.Header nav {
    background-color: black;
   
}
.Header nav a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
}
.Header nav a:hover{
    background-color: lightskyblue;
    color: red;
}